[submodule "resources/example-configs/nix-config"]
	path = resources/example-configs/Misterio77/nix-config
	url = git@github.com:Misterio77/nix-config.git
[submodule "EmergentMind"]
	path = resources/example-configs/EmergentMind/nix-config
	url = git@github.com:EmergentMind/nix-config.git
