[user]
	email = gignsky@gmail.com
	name = gignsky
[init]
	defaultBranch = main
[rebase]
	autosquash = true
[pull]
	rebase = false
[rerere]
	enabled = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
